---
export function getStaticPaths() {
  return [
    {params: {param: 'clifford'}},
    {params: {param: 'rover'}},
    {params: {param: 'spot'}},
  ];
}

const { param } = Astro.params;
---
<div>Good param, {param}!</div>