---
import Base from "../layouts/Base.astro";
import "../css/theme.css";
---

<script>
  import all from "../analytics_data.json"; // get json data
  var data = all.institutes;

  // Get the dropdown button and menu
  const dropdownButton = document.getElementById("dropdownButton")!;
  const dropdownMenu = document.getElementById("dropdown-menu")!;
  const listitems = document.getElementById("listitems")!;

  // display institutes logo (desktop-mode)
  // creating institute cards
  data.forEach((item) => {
    var li = document.createElement("li");
    li.classList.add("column", "is-narrow", "logo");
    const div = document.createElement("div");
    div.classList.add(
      "is-flex",
      "is-flex-direction-column",
      "has-text-centered",
      "total"
    );
    div.style.border = "1px solid black";
    div.style.borderRadius = "10px";
    const span = document.createElement("span");
    span.classList.add("column", "py-0");
    span.textContent = item.heading;
    const div1 = document.createElement("div");
    div1.classList.add("column", "image-container");
    div1.style.padding = "0%";
    const img = document.createElement("img");
    img.src = item.image;
    img.style.height = "100px";
    img.style.width = "100px";
    div1.appendChild(img);
    div.appendChild(span);
    div.appendChild(div1);
    li.appendChild(div);
    listitems!.appendChild(li);
  });

  //selecting a institute card
  const listItem = listitems!.querySelectorAll(".logo");
  let selectedCard = listItem[0].querySelector("span")!;
  listItem.forEach(function (item) {
    item.addEventListener("click", function (event) {
      const with_span = item.querySelector("span")!;
      if (selectedCard) {
        selectedCard.style.boxShadow = "none";
      }

      selectedCard = item;
      selectedCard.style.boxShadow = "0 0 10px rgba(0, 0, 0, 0.5)";

      let foundItem = null;
      data.forEach((item) => {
        if (item.heading === with_span.innerHTML) {
          foundItem = item;
        }
      });
      const iframe = document.querySelector("iframe")!;
      const new_path = foundItem!.iframe_src;
      if (new_path != iframe.src) {
        iframe.src = new_path;
      }
      event.preventDefault();
    });
  });

  // mobile-mode
  // creating elements from json file
  var div = document.createElement("div");
  div.classList.add("dropdown-menu");
  var div1 = document.createElement("div");
  div1.classList.add("dropdown-content");
  data.forEach((item) => {
    var a = document.createElement("a");
    a.classList.add("dropdown-item");
    a.textContent = item.heading;
    div1.appendChild(a);
  });
  div.appendChild(div1);
  dropdownMenu.appendChild(div);
  const dropdownItems = dropdownMenu.querySelectorAll(".dropdown-item")!;

  dropdownButton.addEventListener("click", function (event) {
    // Toggle the "is-active" class on the dropdown menu
    dropdownMenu.classList.toggle("is-active");
    event.preventDefault();
  });

  // selecting a institute
  dropdownItems.forEach(function (item) {
    item.addEventListener("click", function (event) {
      dropdownButton.innerHTML = item.innerHTML + "&#9660;";
      const a = item;
      let foundItem = data[0];
      data.forEach((item) => {
        if (item.heading === a.innerHTML) {
          foundItem = item;
        }
      });
      const iframe = document.querySelector("iframe")!;
      const new_path = foundItem.iframe_src;
      if (new_path != iframe.src) {
        iframe.src = new_path;
      }
      dropdownMenu.classList.remove("is-active");
      event.preventDefault();
    });
  });

  // loading iframe
  var iframe = document.querySelector("iframe")!;
  iframe.onload = function () {
    iframe.style.height = 130 + "vh";
  };
</script>

<script>
  document.getElementById("analytics")!.classList.add("is-active");
  document.getElementById("analytics")!.classList.add("has-text-weight-bold");
</script>

<Base title="Analytics">
  <main style=" margin-bottom:2rem">
    <div class="column">
      <p class="title has-text-white has-text-centered is-size-2">
        Detailed Analysis
      </p>
    </div>
    <div style="overflow: auto; height:135vh">
      <div
        class="dropdown is-hidden-desktop is hidden-tablet ml-5 mb-5"
        id="dropdown-menu"
      >
        <div class="dropdown-trigger">
          <button class="button box" id="dropdownButton">Summary &#9660;</button
          >
        </div>
      </div>
      <div class="columns is-desktop mx-0 my-0">
        <aside
          class="menu column has-background-white is-one-fifth is-narrow is-hidden-touch mx-5"
          style="max-height: 130vh; overflow-y: scroll;"
        >
          <ul
            class="menu-list columns is-multiline is-centered has-text-black"
            id="listitems"
          >
            <!-- added institute cards using javascript -->
          </ul>
        </aside>
        <div class="column py-0">
          <iframe
            width="100%"
            src="https://lookerstudio.google.com/embed/reporting/b40ac724-41f1-4b46-ba1b-c83f65284092/page/5fLPB"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </main>
</Base>
