---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import pages from "../devprocess_docs.json";
import { Devcontent } from "../components/Devcontent";
import "../css/Devcontent.css";
import "../css/theme.css";

let index = 0;
let index2 = 0;
let virtualBoxNumber = 4;
---

<!DOCTYPE html>
<html style="padding-top: 70px;">
    <head>
        <title>DevHost</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
            />
            <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    <body>
    <div >
        <Navbar />
        <div class="overall-container columns theme m-auto pt-4">
            <!-- <div class="column is-narrow"></div> -->
            <div class="column is-one-fifth">
                <ul class="menu-list">
                    {pages.map((c, i) => {
                        return (
                            <li>
                                <a class="is-active" style="background-color: var(--black);">{c.heading}</a>
                                <ul>
                                    {c.docs.map((d, j) => {
                                        index++;
                                        return (
                                            <li>
                                                <a style="background-color: var(--white); color: var(--black)"id={"page-" + index}>
                                                    {d.title}
                                                </a>
                                            </li>
                                        );
                                    })}
                                </ul>
                            </li>
                        );
                    })}
                </ul>
            </div>
            <!-- <div class="column is-narrow"></div> -->
            <div class="column is-four-fifths">
                {pages.map((c, i) => {
                    return (
                        <div>
                            {c.docs.map((d, j) => {
                                index2++;
                                if(index2 === virtualBoxNumber)
                                {
                                    return (
                                    <div
                                        id={
                                            "virtual-box"
                                        }
                                        style="display:none;"
                                        class="column">
                                        <Devcontent
                                            url={d.url}
                                            client:only
                                        />
                                    </div>    
                                    );
                                }
                                return (
                                    <div
                                        id={
                                            "react-dev-content-" +
                                            index2
                                        }
                                        style="display:none;"
                                        class="column">
                                        <Devcontent
                                            url={d.url}
                                            client:only
                                        />
                                    </div>
                                );
                            })}
                        </div>
                    );
                })}
            </div>
        </div>
        <Footer />
    </div>
    </body>
</html>

<script>
    import pages from "../devprocess_docs.json";
    let total = 0;
    let virtualBoxNumber = 4;
    
    for (let i = 0; i < pages.length; i++) {
        total = total + pages[i].docs.length;
    }

    if(document.location.href.includes("virtual-box"))
    {
        document.getElementById("page-4").style.backgroundColor = "rgb(218,218,218)";
        document.getElementById("virtual-box").style.display = "block";
    }
    
    else
    {
        document.getElementById("page-1").style.backgroundColor = "rgb(218,218,218)";
        document.getElementById("react-dev-content-1").style.display = "block";
    }

    for (let i = 1; i <= total; i++) {

        if(i === virtualBoxNumber )
        {
            document
            .getElementById("page-" + i)
            .addEventListener("click", (event) => {

                document.getElementById("page-" + i).style.backgroundColor ="rgb(218,218,218)";
                document.getElementById("virtual-box").style.display = "block";

                for (let j = 1; j <= total; j++) {
                    if (i === j) {
                        continue;
                    }
                    document.getElementById("page-" + j).style.backgroundColor = "white";
                    document.getElementById( "react-dev-content-" + j).style.display = "none";
                }
            });
        }
        else
        {
            document
                .getElementById("page-" + i)
                .addEventListener("click", (event) => {
    
                    document.getElementById("page-" + i).style.backgroundColor ="rgb(218,218,218)";
                    document.getElementById("react-dev-content-" + i).style.display = "block";
    
                    for (let j = 1; j <= total; j++) {
                        if (i === j) {
                            continue;
                        }
                        document.getElementById("page-" + j).style.backgroundColor = "white";
                        document.getElementById( "react-dev-content-" + j).style.display = "none";
                    }
                });
        }
    }
</script>

<script>
    
</script>

<style>
    
</style>
