---
// import JoyOrderDashboardTemplate from "../components/search_filters";
import Base from "../layouts/Base.astro";
import "../css/theme.css";
// import Search_filerts from '../components/search_filters'
// import ExpComponent from "vlabs-app"
// import Pwa from "../components/exp";
import ExpComponent from "../components/ExpComponent.jsx"
---
<Base title="Experiments">
    <main style="margin-bottom: 10px;">
      <p class="title has-text-white has-text-centered is-size-1 my-0 py-5">Experiments</p>
        <ExpComponent client:only/>
    </main>
</Base>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  .header {
    width: 95%;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    padding: 5vh 0 5vh 5vw;
  }
  .text {
    color: var(--black) !important;
  }
  .text.dark {
    color: var(--white) !important;
  }
</style>