---
// import JoyOrderDashboardTemplate from "../components/search_filters";
import Base from "../layouts/Base.astro";
import "../css/theme.css";
// import JoyOrderDashboardTemplate from 'yatharth-super-lemon'
// import Search_filerts from '../components/search_filters'
import ExpComponent from "../components/ExpComponent.jsx"
---
<script>
  //   window.onload = function() {
  // setTimeout(function() { // delete the stored value 
  //   sessionStorage.removeItem("search")
  //   sessionStorage.removeItem("selectedCard")
  // }, 4000);
// };
</script>
<Base title="Experiments">
    <main>
      <p class="title has-text-white has-text-centered is-size-2 my-0 pt-5">Experiments</p>
        <ExpComponent client:only/>
    </main>
</Base>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  .header {
    width: 95%;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    padding: 5vh 0 5vh 5vw;
  }
  .text {
    color: var(--black) !important;
  }
  .text.dark {
    color: var(--white) !important;
  }
</style>