---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import Faqs from "../components/faqs.jsx";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../css/theme.css";
---

<!DOCTYPE html>
<html style="padding-top: 70px;">
<html style="padding-top: 70px;">
  <head>
    <title>FAQs</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="../../app.js"></script>
    <link rel="icon" type="image/x-icon" href="https://cdn.vlabs.ac.in/logo/vlabs-large-moe.png">
    </head
    <script type="text/javascript" src="../../app.js"></script>
    <link rel="icon" type="image/x-icon" href="https://cdn.vlabs.ac.in/logo/vlabs-large-moe.png">
    </head
  >

  <body>
      <Navbar />
      <div id="FAQ">
        <p class="title has-text-white has-text-centered is-size-1 my-0 py-5"></p>
        <Faqs client:only />
      </div>
      <Footer />
  </body>
</html>
