<html>
<head>
 <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
    <div class="inline">
        <div  class="center">
            
            <h1>Eductive/Edpresso</h1>
            <h2>Home of Dev Shots Loader</h2>

        </div>  
           <p class="spinner" id="spinner"><i class="fa fa-spinner fa-4x"></i></p>
    </div>
</body>
<script>
    document.onreadystatechange = function() {
            if (document.readyState === "complete") {
                document.querySelector(
                  "body").style.visibility = "hidden";
                document.getElementById(
                  "spinner").style.visibility = "visible";
            } else {
                document.getElementById(
                  "spinner").style.display = "none";
                document.querySelector(
                  "body").style.visibility = "visible";
            }
        };
</script>
<style>
    #spinner   {  
           animation: spin 1s linear infinite;
           color: red;
       }
         
       @keyframes spin {
           100% {
               transform: rotate(360deg);
           }
       }
         
.inline{
   display: flex;
}
.center{
   flex:left;
}
.spinner i{
   margin-top: 10px;
   margin-left: 50px;  
}
</style>
</html>