---
import Base from "../layouts/Base.astro";
import "../css/theme.css";
---

<Base title="Analytics">
  <style>
    @media screen and (max-width: 999px) {
      .columns {
        display: block;
      }
      .column.is-half {
        width: 100%;
      }
      .is-flex.is-justify-content-center {
        display: flex;
        justify-content: center;
      }
      iframe {
        max-width: 100%;
        height: 20vh;
      }
    }
  </style>

  <main style=" margin-bottom:2rem;">
    <div class="align-center py-5">
    <p class="title has-text-white has-text-centered is-size-1">Summary</p>
    <p class="subtitle has-text-white has-text-centered is-size-4">(2020-till date)</p>
    </div>
    <div class="columns is-multiline has-text-black-bis mx-0 mt-2">
      <div class="column is-half has-background-white px-0">
        <p class="has-text-centered is-size-4"></p>
        <div class="is-flex is-justify-content-center">
          <iframe
            width="500"
            height="288"
            seamless
            frameborder="0"
            scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQmGC5Waqu6D5OEXo2_emvYHrLcbicbNgihoEIz9MtL73A09SgVti3AImFEe7w--esiQKFNu_wvl_sF/pubchart?oid=1482014866&format=interactive"
          ></iframe>
        </div>
      </div>
      <div class="column is-half has-background-white px-0">
        <p class="has-text-centered is-size-4"></p>
        <div class="is-flex is-justify-content-center">
          <iframe
            width="548"
            height="288"
            seamless
            frameborder="0"
            scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQmGC5Waqu6D5OEXo2_emvYHrLcbicbNgihoEIz9MtL73A09SgVti3AImFEe7w--esiQKFNu_wvl_sF/pubchart?oid=456825188&format=interactive"
          ></iframe>
        </div>
      </div>
      <div class="column is-half has-background-white px-0">
        <p class="has-text-centered is-size-4"></p>
        <div class="is-flex is-justify-content-center">
          <iframe
            width="573"
            height="338"
            seamless
            frameborder="0"
            scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQmGC5Waqu6D5OEXo2_emvYHrLcbicbNgihoEIz9MtL73A09SgVti3AImFEe7w--esiQKFNu_wvl_sF/pubchart?oid=673188486&format=interactive"
          ></iframe>
        </div>
      </div>
      <div class="column is-half has-background-white px-0">
        <p class="has-text-centered is-size-4"></p>
        <div class="is-flex is-justify-content-center">
          <iframe
            width="541"
            height="368"
            seamless
            frameborder="0"
            scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQmGC5Waqu6D5OEXo2_emvYHrLcbicbNgihoEIz9MtL73A09SgVti3AImFEe7w--esiQKFNu_wvl_sF/pubchart?oid=1592052459&format=interactive"
          ></iframe>
        </div>
      </div>
      <div class="column is-half has-background-white px-0">
        <p class="has-text-centered is-size-4"></p>
        <div class="is-flex is-justify-content-center">
          <iframe
            width="638"
            height="422"
            seamless
            frameborder="0"
            scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQmGC5Waqu6D5OEXo2_emvYHrLcbicbNgihoEIz9MtL73A09SgVti3AImFEe7w--esiQKFNu_wvl_sF/pubchart?oid=742248431&format=interactive"
          ></iframe>
        </div>
      </div>
      <div class="column is-half has-background-white px-0">
        <p class="has-text-centered is-size-4"></p>
        <div class="is-flex is-justify-content-center">
          <iframe
            width="600"
            height="417"
            seamless
            frameborder="0"
            scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQmGC5Waqu6D5OEXo2_emvYHrLcbicbNgihoEIz9MtL73A09SgVti3AImFEe7w--esiQKFNu_wvl_sF/pubchart?oid=794205842&format=interactive"
          ></iframe>
        </div>
      </div>
    </div>
  </main>
</Base>
