---
import Vbox from "../components/vbox_fetch";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import '../css/theme.css';
import "../css/Devcontent.css";
---

<!DOCTYPE html>
<html style="padding-top: 70px;">
  <head>
    <title>Virtual Box for Virtual Labs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
  </head>
  <body>
      <Navbar/>
        <div id="placeholder"></div>
        <Vbox client:load />
      <Footer/>
  </body>
</html>

<style>
  #placeholder {
    height: 7vh;
  }
</style>

