---
import Base from "../layouts/Base.astro";
import "../css/vlead.css";
import data from "../about_data.json";
import VleadContent from "../components/vlead.jsx";
---

<Base title="About">
  <div class="py-3" style="color: white;">
    <div class="vlead-container">
      <img
        src="/public/about-images/VLEAD.png"
        class="vlead-logo"
        alt="VLEAD Logo"
      />
      <h1 class="vlead-description">
        <strong>{data.vlead.description}</strong>
      </h1>
      <br />
      <div class="vlead-content">{data.vlead.content}</div>
    </div>
    <br />
    <div
      class="tabs theme is-boxed is-toggle is-toggle-rounded is-centered is-large"
    >
      <ul class="tablist">
        <li><a id="init">Initiatives</a></li>
        <li><a id="timeline">Timeline</a></li>
        <li><a id="current">Current Team</a></li>
        <li><a id="past">Past Team</a></li>
        <li><a id="testimonials">Testimonials</a></li>
      </ul>
    </div>
    <div id="display-div" style="background-color: #0D9276; padding: 2rem; display: flex; justify-content: center; align-items: center;">
      <VleadContent client:only />
    </div>
  </div>
</Base>
