---
import { Icon } from "astro-icon";
import Roles from "./role";
// https://docs.google.com/spreadsheets/d/1x12nhpp0QvnsA6x-O1sV4IA9SAbfVsq_wiexWkutOmU/edit#gid=1573630614
var id = "1x12nhpp0QvnsA6x-O1sV4IA9SAbfVsq_wiexWkutOmU";
var gid = "1573630614";

var url =
  "https://docs.google.com/spreadsheets/d/" +
  id +
  "/gviz/tq?tqx=out:json&tq&gid=" +
  gid;

---

<script>
  function detectMob() {
    const toMatch = [
      /Android/i,
      /webOS/i,
      /iPhone/i,
      /iPad/i,
      /iPod/i,
      /BlackBerry/i,
      /Windows Phone/i,
    ];

    return toMatch.some((toMatchItem) => {
      return navigator.userAgent.match(toMatchItem);
    });
  }

  const cnv = document.createElement("canvas")!;
  //Get context and screen size;
  var ctx = cnv.getContext("2d")!;
  var W = window.innerWidth;
  var H = window.innerHeight;

  //Set Canvas and Background Color;
  cnv.width = W;
  cnv.height = H;
  ctx.fillStyle = "#112";
  ctx.fillRect(0, 0, W, H);

  //Glow effect;
  ctx.shadowBlur = 10;
  ctx.shadowColor = "white";

  function animate() {
    if (localStorage.getItem("theme") != "dark") return;

    //Random position and size of stars;
    let x = W * Math.random();
    let y = H * Math.random();
    let r = 2.5 * Math.random();

    //Draw the stars;
    ctx.beginPath();
    ctx.fillStyle = "white";
    ctx.arc(x, y, r, 0, Math.PI * 2);
    ctx.fill();

    var imageDataURL = cnv.toDataURL();
    // set the dynamic image as the background
    document.body.style.background =
      "transparent url('" + imageDataURL + "') repeat";
    setTimeout(animate, 400);
  }

  // Find all buttons with the `alert` class on the page.
  const buttons = document.getElementById("stats");

  if (buttons != null) {
    buttons.addEventListener("click", () => {
      location.href =
        "https://script.google.com/macros/s/AKfycbyFZHcRjq69aBhOJ3oa7D9WAdrNz9M1f6VFoYN0wdiqwLhR4HcYmMABRaZjh6PNRsd_/exec";
    });
  }

  if (detectMob()) {
    document.getElementById("search-submit")!.style.display = "none";
  }
  const search_button = document.getElementById("search-button")!;
  const search_submit = document.getElementById("search-submit")!;
  const search_bar = document.getElementById("search-bar-container")!;
  const search_value = document.getElementById("search_value")!;
  const form = document.getElementById("form")!;
  if(document.location.href.includes("experiments"))
  {
    search_bar.style.display="none"
  }
  search_bar.addEventListener("mouseenter", () => {
    search_submit.classList.add("search-open");
    search_bar.classList.add("search-open");
  });
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    sessionStorage.setItem("search", search_value.value);
    window.location.href = "/app-vlead-web/experiments/";
  });

  const burger = document.getElementById("burger")!;
  const menu = document.getElementById("navbarMain")!;
  burger.addEventListener("click", () => {
    burger.classList.toggle("is-active");
    menu.classList.toggle("is-active");
  });

  const icon1 = document.getElementById("icon-theme-light")!;
  const icon2 = document.getElementById("icon-theme-dark")!;
  let toggle = (theme) => {
    localStorage.setItem("theme", theme);
    let list = document.getElementsByClassName("theme");
    for (let i = 0; i < list.length; i++) {
      list[i].classList.toggle("dark");
    }
    if (theme == "dark") {
      animate();
      icon1.style.display = "none";
      icon2.style.display = "block";
    } else {
      document.body.style.backgroundImage =
      "radial-gradient(circle, var(--background-alt) 0%, var(--background) 100%)";
      icon2.style.display = "none";
      icon1.style.display = "block";
    }
  };

  let theme = localStorage.getItem("theme");

  if (theme === "dark") {
    toggle(theme);
    animate();
  } else {
    document.body.style.backgroundImage =
    "radial-gradient(circle, var(--background-alt) 0%, var(--background) 100%)";
    theme = "light";
  }
  const theme_switcher = document.getElementById("theme")!;
  theme_switcher.addEventListener("click", () => {
    theme = theme === "dark" ? "light" : "dark";
    toggle(theme);
  });
</script>

<script>
  const outreach = document.getElementById("outreach")!;
  const create = document.getElementById("create")!;
  const learning = document.getElementById("learning")!;
  const role_dict = { creator: create, educator: outreach, learner: learning };
  const role = sessionStorage.getItem("role");
  if (role) {
    document.getElementById("choose-drop")!.classList.remove("is-hidden");
    role_dict[role].classList.remove("is-hidden");
    if (role == "creator") {
      document.getElementById("drop-creator")!.classList.add("active-role");
    } else if (role == "educator") {
      document.getElementById("drop-educator")!.classList.add("active-role");
    } else if (role == "learner") {
      document.getElementById("drop-learner")!.classList.add("active-role");
    }
  }

  const drop_creator = document.getElementById("drop-creator")!;
  drop_creator.addEventListener("click", () => {
    document.getElementById("drop-creator")!.classList.add("active-role");
    document.getElementById("drop-educator")!.classList.remove("active-role");
    document.getElementById("drop-learner")!.classList.remove("active-role");
    sessionStorage.setItem("role", "creator");
  });
  const drop_educator = document.getElementById("drop-educator")!;
  drop_educator.addEventListener("click", () => {
    document.getElementById("drop-creator")!.classList.remove("active-role");
    document.getElementById("drop-educator")!.classList.add("active-role");
    document.getElementById("drop-learner")!.classList.remove("active-role");
    sessionStorage.setItem("role", "educator");
  });
  const drop_learner = document.getElementById("drop-learner")!;
  drop_learner.addEventListener("click", () => {
    document.getElementById("drop-creator")!.classList.remove("active-role");
    document.getElementById("drop-educator")!.classList.remove("active-role");
    document.getElementById("drop-learner")!.classList.add("active-role");
    sessionStorage.setItem("role", "learner");
  });
</script>

<script>
  const clickables = document.querySelectorAll(".clickable");

  clickables.forEach((element) => {
    element.addEventListener("click", () => {
      clickables.forEach((e) => {
        e.classList.remove("is-active");
        e.classList.remove("has-text-weight-bold");
      });
      element.classList.add("is-active");
      element.classList.add("has-text-weight-bold");
    });
  });
</script>

<nav class="navbar theme is-fixed-top px-0" style="max-height:70px;">
  <div class="navbar-brand" style="max-height: inherit;">
    <a class="navbar-item py-0 px-0 ml-2" href="/app-vlead-web/">
      <img
        src="https://cdn.vlabs.ac.in/logo/vlabs-color-large-moe.png"
        loading="lazy"
        style="max-height:70px; background:none"
        class="py-1 px-2"
        
      />
    </a>
    <div class="navbar-item px-2" id="theme">
      <div class="theme-toggle">
        <span class="icon-theme mx-auto">
          <Icon id="icon-theme-light" name="ph:sun-bold" />
          <Icon
            id="icon-theme-dark"
            style="display:none;"
            name="ph:moon-fill"
          />
        </span>
      </div>
    </div>
    <div class="navbar-item px-2">
      <div class="search-bar" id="search-bar-container">
        <form id="form">
          <input
            type="search"
            placeholder="Search for experiments"
            class="input search-input is-rounded"
            id="search_value"
          />
          <a
            href="/app-vlead-web/experiments/"
            class="button search-submit"
            id="search-submit"></a>
          <span class="icon-search" id="search-button">
            <Icon name="ic:outline-search" />
          </span>
        </form>
      </div>
    </div>
    <a
      role="button"
      id="burger"
      class="navbar-burger is-left"
      style="max-height: inherit;"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarMain" class="navbar-menu is-boxed">
    <div class="navbar-start"></div>
    <div class="navbar-end">
      <div
        class="navbar-item px-2 has-dropdown is-hoverable"
        id="choose-drop"
      >
        <a class="navbar-link is-size-5"> I am</a>

        <div class="navbar-dropdown">
          <a class="navbar-item px-2 theme" id="drop-learner" href="/app-vlead-web/experiments/"> Learner</a>
          <hr class="navbar-divider" />
          <a class="navbar-item px-2 theme" id="drop-educator" href="/app-vlead-web/outreach/"> Educator</a>
          <hr class="navbar-divider" />
          <a class="navbar-item px-2 theme" id="drop-creator" href="/app-vlead-web/development/"> Creator</a>
        </div>
      </div>
      <div
        class="navbar-item px-2 has-dropdown is-hoverable"
        id="choose-drops"
      >
        <a class="navbar-link is-size-5"> I want to </a>

        <div class="navbar-dropdown">
          <a
            class="navbar-item px-2"
            id="create"
            href="/app-vlead-web/development/"
          >
            Create Experiment
          </a>
          <hr class="navbar-divider" />
          <a
            class="navbar-item px-2"
            id="outreach"
            href="/app-vlead-web/outreach/"
          >
            Outreach
          </a>
          <hr class="navbar-divider" />
          <a
            class="navbar-item px-2"
            id="learning"
            href="/app-vlead-web/experiments/"
          >
            Start Learning
          </a>
        </div>
      </div>
      
      <Roles client:only />
      <a
        class="navbar-item px-2 is-size-5 clickable"
        id="research"
        href="/app-vlead-web/research/"
      >
        Research
      </a>
      <a
        class="navbar-item px-2 is-size-5 clickable"
        id="analytics"
        href="/app-vlead-web/analytics/"
      >
        Analytics
      </a>
      <div
      class="navbar-item px-2 has-dropdown is-hoverable"
      id="choose-drops"
    >
      <a class="navbar-link is-size-5"> About </a>

      <div class="navbar-dropdown">
        <a
          class="navbar-item px-2"
          id="create"
          href="/app-vlead-web/Vlabs/"
        >
          Virtual Labs
        </a>
        <hr class="navbar-divider" />
        <a
          class="navbar-item px-2"
          id="outreach"
          href="/app-vlead-web/vlead/"
        >
          VLEAD
        </a>
      </div>
    </div>
    </div>
  </div>
</nav>

<style>
  #user-display{
    /* background-color: white; */
    color: var(--third);
  }
  #user-display:hover {
    cursor: default;
  }
  #views-display{
    /* color:white; */
    color: var(--third);
  }
  #views-display:hover {
    cursor: default;
  }
  .navbar {
    background-color: var(--secondary);
  }
  .navbar.dark {
    background-color: var(--secondary-dark);
  }
  .navbar-menu,
  .navbar-brand {
    position: relative;
    z-index: 30;
  }
  .navbar-burger {
    height: 5vh;
    width: 5vh;
  }
  .navleft {
    text-align: left;
    margin-top: 1%;
  }
  img {
    background-color: white;
  }
  .search-bar {
    position: relative;
    height: 40px;
    width: 0;
    min-width: 40px;
    overflow: hidden;
    border-radius: 20px;

    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;

    -webkit-backface-visibility: hidden;
  }
  .search-bar.search-open {
    width: 40vw;
  }
  @media screen and (max-width: 1600px) {
    .search-bar.search-open {
      width: 15vw;
    }
  }
  @media screen and (max-width: 1023px) {
    .search-bar.search-open {
      width: 40vw;
    }
  }
  .search-input {
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 31;
  }
  .icon-search,
  .search-submit {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  .search-submit {
    z-index: 29;
    color: transparent;
    background-color: transparent;
    border: transparent;
  }
  .search-submit.search-open {
    z-index: 40;
  }
  .icon-search {
    z-index: 35;
  }
  .users_display {
    display: inline;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    position: relative;
    vertical-align: auto;
  }
  .navbutton {
    display: inline;
    background: none;
    border: none;
    color: white;
    font-size: large;
  }
  .navbutton:hover {
    font-weight: bold;
  }
  .buttons-right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchbar {
    border-radius: 12px;
    font-size: large;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
  .searchbar:focus {
    width: 100%;
    overflow: visible;
  }

  @keyframes flashing {
    0% {
      background-color: white;
      color: black;
    }
    25% {
      background-color: gray;
      color: white;
    }
    50% {
      background-color: black;
      color: white;
    }
    75% {
      background-color: gray;
      color: white;
    }
    100% {
      background-color: white;
      color: black;
    }
  }

  .flashing {
    animation: flashing 1s linear;
    animation-iteration-count: 1;
  }

  #invisible {
    display: none;
  }
  .theme-toggle {
    margin: auto;
    width: 30px;
    padding-top: 0.5vh;
  }
  .active-role {
    background-color: var(--primary) !important;
    color: var(--white);
  }
  .active-role.dark {
    background-color: var(--primary-dark) !important;
  }
  a.navbar-item.is-active {
    color: var(--background-dark);
  }
</style>
