#spinner   {  
           
    animation: spin 1s linear infinite;
    color: var(--background);
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.inline{
display: flex;
justify-content: center;
align-items: center;
height:100%;
}
.center{
flex:left;
}
.spinner i{
margin-top: 10px;
margin-left: 50px;  
}