@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.timeline-wrapper {
    height: 100%;
    min-height: 500px;
    overflow-x: auto;
    justify-content: center;
}

.container {
    height: 100%;
    min-height: 500px;
    position: relative;
    padding: 2rem 0;
}

.timeline {
    position: absolute;
    height: 0.7rem;
    background-color: beige;
    border-width: 0.2rem 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(0, 0, 0, 0.1);
    border-radius: 0.35rem;
    width: 100%;
    min-width: 100%;
    top: 4rem;
}

.entries {
    display: flex;
    padding-top: 5rem;
    position: relative;
    z-index: 1;
}

.entry {
    flex: 0 0 auto;
    width: 200px;
    margin-left: 3rem;
    margin-right: 3.5rem;
    text-align: center;
    position: relative;
}

.dot {
    width: 1.2rem;
    height: 1.2rem;
    background-color: powderblue;
    border-radius: 100%;
    border: 0.16rem solid #fff;
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(255, 255, 255, 0.1), inset 0 0.4rem 0.1rem rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -3.2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
}

.entry:hover .dot {
    width: 1.6rem;
    height: 1.6rem;
    background-color: thistle;
}

.label {
    background-color: #E1F0EE;
    padding: 0.4rem 0.8rem 0.8rem;
    border-radius: 1rem;
    transition: all 0.2s linear;
    position: relative;
}

.entry:hover .label {
    background-color: #d1e6e3;
}

.label:before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    width: 1rem;
    height: 1rem;
    left: 50%;
    top: -0.5rem;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}

.time {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 0 0 0.4rem;
    padding: 0 0.3rem 0.3rem;
    letter-spacing: 1px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.detail {
    font-size: 0.8rem;
}

.timepass {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 10px;
    width: auto;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin-top: 10px;
    font-size: 0.8rem;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entry:hover .timepass {
    display: block;
}