.vlead-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

.vlead-logo-container {
    position: relative;
}

.vlead-logo {
    max-width: 300px;
    margin-right: 1rem;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.vlead-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 15%;
    background-color: #000000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0.8;
}

.vlead-logo-container:hover .vlead-content {
    display: block;
}

.tabs.theme {
    flex-grow: 1;
}

.tabs.is-toggle li.is-active a {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
}

.tabs a {
    color: white !important;
}

.tabs a:hover {
    color: black !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

.tablist a {
    color: white;
    font-weight: 500;
}

.tablist a:hover {
    color: black;
}

.vlead-container {
    background-color: #bdf4fa;
    color: black;
    padding: 2rem;
    text-align: left;
    width: auto;
}

.vlead-description {
    font-size: 1.5rem;
    color: white;
}

.vlead-logo {
    max-width: 100%;
    margin-left: 1rem;
}

.purpose-card {
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.purpose-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.purpose-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #a9f7e4;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.grid-item .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item h2 {
    font-size: 20px;
    color: #ffffff;
    transition: opacity 0.3s ease-in-out;
}

.grid-item .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 154, 128, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    clip-path: inset(50% 0 50% 0);
    transform: scale(1.1);
}

.grid-item:hover .description {
    opacity: 1;
    animation: openCenter 1s forwards;
}

.grid-item:hover h2 {
    opacity: 0;
}

.description h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.description p {
    text-align: center;
}

@keyframes openCenter {
    0% {
        clip-path: inset(50% 0 50% 0);
        transform: scale(1.1);
    }

    50% {
        clip-path: inset(0 0 0 0);
        transform: scale(1.1);
    }

    100% {
        clip-path: inset(0 0 0 0);
        transform: scale(1.1);
    }
}