---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html style="padding-top: 70px;">
  <head>
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript" src="../../app.js"></script>
    <link rel="icon" type="image/x-icon" href="https://cdn.vlabs.ac.in/logo/vlabs-large-moe.png">
    </head>

  <body>
    <Navbar />
    <div class="about_box theme">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style>
  html {
    min-height: 100vh !important;
  }
  body {
    background: radial-gradient(
      circle,
      var(--background-alt) 0%,
      var(--background) 100%
    );
    min-height: 100vh !important;
    display: block !important;
  }
  .about_box {
    min-height: 80vh;
    color: var(--dark);
  }
  .about_box.dark {
    color: var(--white);
  }
</style>
